.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for([:user, @card]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :card_no

      .form-actions
        = f.button :submit, class: 'btn btn-primary'
        = link_to t('cancel'), user_dashboard_index_path, class: 'btn'