.jumbotron
  %h2
    %strong Hackerspace'e Hoş Geldiniz
  - if current_user
    = link_to t('navbar.sign_out'), destroy_user_session_path, class: 'btn btn-large', method: :delete
    .row-fluid.marketing
      %p
        %strong Name:
        = current_user.name
      %p
        %strong Email:
        = current_user.email
      - if current_user.logs.last != nil
        %p
          %strong Hackerspace Son Online Tarihleri:<br>
          %strong Giriş :
          = current_user.logs.last.enter_time
          %strong <br> Çıkış:
          = current_user.logs.last.exit_time
    = link_to t('navbar.edit_login_info'), edit_user_registration_path, class: 'btn btn-large'
  - else
    = link_to t('navbar.signup'), new_user_registration_path, class: 'btn btn-large btn-success'
    = link_to t('navbar.signin'), new_user_session_path, class: 'btn btn-large'
  %h2
    %strong Hackerspace'de Online Olan Kullanıcılar Listeleniyor
  %hr/
  - @users.each do |user|
    - if user.logs.last != nil and user.logs.last.enter_time != nil and user.logs.last.exit_time == nil
      - @count = @count + 1
      %strong İsim :
      = user.name
      %strong Üye olduğu tarih :
      = user.created_at
      %strong Hacker Space Kullanım Adedi :
      = user.logs.count
      %hr/
  %strong Hackerspace i aktif kullanan kişi sayısı :
  = @count
  %hr/

  %h2
    %strong Hackerspace'i En Çok Kullanan On kişi
  %hr/
  - @top_users.each do |tu|
    %strong
      = @c = @c + 1
    %strong _  İsim :
    = tu.name
    %strong Hacker Space Kullanım Adedi :
    = tu.logs_count
    %hr/

  %h2
    %strong Tüm Kullanıcılar Listeleniyor
  %hr/
  - @users.each do |user|
    %strong İsim :
    = user.name
    %strong Üye olduğu tarih :
    = user.created_at
    %strong Hacker Space Kullanım Adedi :
    = user.logs.count
    %hr/
  %strong Toplam Üye sayısı :
  = @users.count
  %hr/