.div
  .container
    .col-xs-12.text-center
      %h2
        %strong Hackerspace'e Hoş Geldiniz
      - if current_user
        %strong Name :
        = current_user.name
        %strong Email :
        = current_user.email
        = link_to t('navbar.edit_login_info'), edit_user_registration_path
        %br
      - if current_user.logs.last != nil
        %strong Hackerspace Son Online Tarihleri =>
        %strong Giriş :
        = current_user.logs.last.enter_time
        %strong  Çıkış :
        = current_user.logs.last.exit_time
      %hr/
  .container
    .col-xs-4.text-center
      %h3
        %strong Hackerspace Top 10 Users
      - @top_users.each do |tu|
        %strong
          = @c = @c + 1
        %strong _  İsim :
        = tu.name
        %strong Hacker Space Kullanım Adedi :
        = tu.logs_count
        <br><br>
    .col-xs-8.text-center
      %h3
        %strong Hackerspace'in Kullanım Grafiği
        %br
        %br
        %br
        = line_chart Log.group_by_day(:created_at).count

  .container
    .col-xs-5.text-center
      %h3
        %strong Hackerspace Online Users
      - @users.each do |user|
        - if user.logs.last != nil and user.logs.last.enter_time != nil and user.logs.last.exit_time == nil
          - @count = @count + 1
          %strong İsim :
          = user.name
          %strong Giriş Zamanı :
          = user.logs.last.enter_time
          %br
          %strong Hacker Space Kullanım Adedi :
          = user.logs_count
          <br><br>
      %strong Hackerspace i aktif kullanan kişi sayısı :
      = @count
      %hr/
    .col-xs-7
      %h3
        %strong Tüm Kullanıcılar Listeleniyor
      - @users.each do |user|
        - if user.avatar != nil
          = image_tag user.avatar.url(:thumb)
        %strong İsim :
        = user.name
        %strong Üye olduğu tarih :
        = user.created_at
        %strong Hacker Space Kullanım Adedi :
        = user.logs_count
        <br><br>
      %strong Toplam Üye sayısı :
      = @users.count
      %hr/